In [35]:
import pandas as pd
import numpy as np

# Importing Dataset

bl_image = pd.read_table("txtfile", sep = ',')
bl_image

In [3]:
#Check Dataset INformation

bl_image.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8288 entries, 0 to 8287
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Identifier              8288 non-null   object
 1   Edition Statement       773 non-null    object
 2   Place of Publication    8287 non-null   object
 3   Date of Publication     8106 non-null   object
 4   Publisher               4092 non-null   object
 5   Title                   8287 non-null   object
 6   Author                  6509 non-null   object
 7   Contributors            8287 non-null   object
 8   Corporate Author        0 non-null      float64
 9   Corporate Contributors  0 non-null      float64
 10  Former owner            1 non-null      object
 11  Engraver                0 non-null      float64
 12  Issuance type           8287 non-null   object
 13  Flickr URL              8287 non-null   object
 14  Shelfmarks              8287 non-null   object
dtypes: float64(3), object(12)
memory usage: 971.4+ KB

In [4]:
bl_image.iloc[206]

Identifier                                                        000077554
Edition Statement                                                       NaN
Place of Publication                                                 London
Date of Publication                                                    1848
Publisher                                                   Richard Bentley
Title                     Rambles in the romantic regions of the Hartz M...
Author                                     Andersen, H. C. (Hans Christian)
Contributors                                    BECKWITH-LOHMEYER, Charles.
Corporate Author                                                        NaN
Corporate Contributors                                                  NaN
Former owner                                                            NaN
Engraver                                                                NaN
Issuance type                                                   monographic
Flickr URL                http://www.flickr.com/photos/britishlibrary/ta...
Shelfmarks                                British Library HMNTS 10250.c.16.
Name: 206, dtype: object

In [5]:
#Set "IDENTIFIER" column to INDEX

bl_image.set_index("Identifier",inplace = True)

In [6]:
#Check Dataset

bl_image

,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
Identifier,,,,,,,,,,,,,,
000000206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
000000216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
000000218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of â€œAll for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
000000472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
000000480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
004158128,NaN,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
004159563,NaN,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 19...
004159587,NaN,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
004160339,NaN,London,1834-43,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,"BANDINEL, Bulkeley.|Nichols, John Gough",NaN,NaN,NaN,NaN,continuing,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 79...
pd.rea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Drop unnecessary column

bl_image.drop("pd.rea",axis=0,inplace = True)

In [8]:
#Checking Totals Columns

bl_image.columns

Index(['Edition Statement', 'Place of Publication', 'Date of Publication',
       'Publisher', 'Title', 'Author', 'Contributors', 'Corporate Author',
       'Corporate Contributors', 'Former owner', 'Engraver', 'Issuance type',
       'Flickr URL', 'Shelfmarks'],
      dtype='object')

In [9]:
#Drop unnecessary Columns again

bl_image.drop(columns = ['Edition Statement','Corporate Author',
       'Corporate Contributors', 'Former owner', 'Engraver','Issuance type','Shelfmarks','Flickr URL'], inplace = True)

In [10]:
#Checking Dataset

bl_image

,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors
Identifier,,,,,,
000000206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter."
000000216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness"
000000218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of â€œAll for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness"
000000472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus."
000000480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry."
...,...,...,...,...,...,...
004158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.","BOASE, Henry Samuel.|HALS, William.|LYSONS, Da..."
004158128,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas."
004159563,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S"
004159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham"
004160339,London,1834-43,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,"BANDINEL, Bulkeley.|Nichols, John Gough"

In [11]:
#Checking Columns

bl_image.columns

Index(['Place of Publication', 'Date of Publication', 'Publisher', 'Title',
       'Author', 'Contributors'],
      dtype='object')

In [12]:
#Checking information

bl_image.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8287 entries, 000000206 to 004160339
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Place of Publication  8287 non-null   object
 1   Date of Publication   8106 non-null   object
 2   Publisher             4092 non-null   object
 3   Title                 8287 non-null   object
 4   Author                6509 non-null   object
 5   Contributors          8287 non-null   object
dtypes: object(6)
memory usage: 453.2+ KB

In [13]:
#Checking Dataset again

bl_image

,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors
Identifier,,,,,,
000000206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter."
000000216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness"
000000218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of â€œAll for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness"
000000472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus."
000000480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry."
...,...,...,...,...,...,...
004158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.","BOASE, Henry Samuel.|HALS, William.|LYSONS, Da..."
004158128,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas."
004159563,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S"
004159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham"
004160339,London,1834-43,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,"BANDINEL, Bulkeley.|Nichols, John Gough"

# Data Cleaning

In [14]:
#Extracting the "Date of Publication" column data using Regex
bl_image["Date of Publication"] = bl_image["Date of Publication"].str.extract(r"^(\d{4})",expand = False)
bl_image["Date of Publication"]

Identifier
000000206    1879
000000216    1868
000000218    1869
000000472    1851
000000480    1857
             ...
004158088    1838
004158128    1831
004159563     NaN
004159587    1834
004160339    1834
Name: Date of Publication, Length: 8287, dtype: object

In [15]:
#Calculating total of one value in column of "Date of Publication"

bl_image["Date of Publication"].value_counts()

1897    179
1896    169
1893    140
1892    140
1891    140
       ...
1653      1
1672      1
1657      1
1635      1
1755      1
Name: Date of Publication, Length: 254, dtype: int64

In [16]:
#Calculating the null values in "Date of Publication" column

bl_image["Date of Publication"].isnull().sum()

971

In [17]:
#Finding the most frequently using value in "Date of Publication" column

bl_image["Date of Publication"].mode()

0    1897
dtype: object

In [18]:
#Filling mode value of "Date of Publication" in place of Nan Values in column

bl_image["Date of Publication"] = bl_image["Date of Publication"].fillna(value = "1897")

In [19]:
bl_image.isnull().sum()

Place of Publication       0
Date of Publication        0
Publisher               4195
Title                      0
Author                  1778
Contributors               0
dtype: int64

In [37]:
#Filling Nan Values to "Publisher" column as "Publisher not Known"

bl_image["Publisher"] = bl_image["Publisher"].fillna(value= "Publisher not Known")

In [24]:
#Filling Nan Values to "Author" column as "Author not Known"

bl_image["Author"] = bl_image["Author"].fillna(value = "Author not none")

In [25]:
#Checking dataset

bl_image

,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors
Identifier,,,,,,
000000206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter."
000000216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness"
000000218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of â€œAll for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness"
000000472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus."
000000480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry."
...,...,...,...,...,...,...
004158088,London,1838,Publisher not Known,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.","BOASE, Henry Samuel.|HALS, William.|LYSONS, Da..."
004158128,Derby,1831,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas."
004159563,London,1897,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S"
004159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham"
004160339,London,1834,Publisher not Known,Collectanea Topographica et Genealogica. [Firs...,Abdur Rehman,"BANDINEL, Bulkeley.|Nichols, John Gough"

In [26]:
#checking dataset for Nan values

bl_image.isnull().sum()

Place of Publication    0
Date of Publication     0
Publisher               0
Title                   0
Author                  0
Contributors            0
dtype: int64

In [27]:
#Checking total number of "London" value present in column "Place of Publication"

bl_image["Place of Publication"].str.contains("London").sum()

4219

In [28]:
#Checking total number of "Oxford" value present in column "Place of Publication"

bl_image["Place of Publication"].str.contains("Oxford").sum()

55

In [31]:
#Checking all values present in column of "Place of Publication"

bl_image["Place of Publication"].value_counts()

London                     3868
Paris                       479
Edinburgh                   208
New York                    177
Leipzig                     119
                           ...
2 Bdchn. Berlin               1
Wrexham?]                     1
Au MeschacÃ©bÃ© [Mons]        1
Ermanno Loescher              1
St. Petersburg, Leipzig       1
Name: Place of Publication, Length: 1441, dtype: int64

In [32]:
#Removing unwanted values present in column "Place of Publication"
bl_image["Place of Publication"] = np.where(bl_image["Place of Publication"].str.contains("London"), 'London',
                                      np.where(bl_image["Place of Publication"].str.contains("Oxford"), 'Oxford',
                                               bl_image["Place of Publication"].str.replace('-', ' ')))

In [33]:
#Checking after Removing

bl_image["Place of Publication"]

Identifier
000000206                 London
000000216                 London
000000218                 London
000000472                 London
000000480                 London
                    ...
004158088                 London
004158128                  Derby
004159563                 London
004159587    Newcastle upon Tyne
004160339                 London
Name: Place of Publication, Length: 8287, dtype: object

# Final Analyzation & Cleaned Dataset

In [34]:
bl_image

,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors
Identifier,,,,,,
000000206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter."
000000216,London,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness"
000000218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of â€œAll for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness"
000000472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus."
000000480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry."
...,...,...,...,...,...,...
004158088,London,1838,Publisher not Known,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.","BOASE, Henry Samuel.|HALS, William.|LYSONS, Da..."
004158128,Derby,1831,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas."
004159563,London,1897,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S"
004159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham"
004160339,London,1834,Publisher not Known,Collectanea Topographica et Genealogica. [Firs...,Abdur Rehman,"BANDINEL, Bulkeley.|Nichols, John Gough"